.SchedulingSection {
    position: relative;
    box-sizing: border-box;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 30px;
}

.SchedulingSection-stats {
    padding: 0 20px 20px 20px;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
}

.SchedulingSection-stats > h2 {
    margin: 0 0 15px 0;
}

.SchedulingSection-stats > div {
    padding: 10px;
}